;; shadow-cljs configuration
{:deps   {:aliases [:dev :cljs :test]}
 :builds {:node {:target     :node-library
                 :output-to  "target/index.js"
                 :output-dir "target/js"
                 :exports    {:matches node/hello}}
          :test {:target     :node-test
                 :output-to  "target/node-tests.js"
                 :output-dir "target/js"
                 :autorun    true}}
 :nrepl  {:port 9000}}
